.productCardsWrapper {
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 4rem;
  display: grid;
  gap: 30px;
  padding-top: 2rem;
}

.description {
  font-size: 0.975rem;
  line-height: 1.5;
  margin: auto;
  max-width: 90%;
  color: white !important;
}

.ctaButtonBg{
  padding: 5px;
  border-radius: 13px;
  background: linear-gradient(to right, var(--pinkEnd),  var(--darkBlue));
}

@media screen and (max-width: 1171px) {
  .productCardsWrapper {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .productCardsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}