.inversetriangleContainer {
  display: flex;
  justify-content: flex-end;
  max-height: 20px;
}

.inverseTriangle {
  clip-path: polygon(0% 0%, 100% 0%, 0% 30%);
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(120deg, var(--purple), var(--pinkEnd));
  margin-bottom: -10rem;
}

.gpt3__possibility {
  display: flex;
  flex-direction: row;
  padding: 4rem 16rem;
}

.gpt3__possibility-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.performanceCardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 2rem;
}

.gpt3__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
}

.gpt3__possibility-content h4:last-child {
  color: #fa3baa;
}

.gpt3__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}

.gpt3__possibility-content p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  margin-bottom: 2rem;
}

@media screen and (max-width: 1430px) {
  .gpt3__possibility {
    padding: 4rem 8rem;
  }
}
@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;
  }

  .gpt3__possibility-image {
    margin: 1rem 0;
  }

  .gpt3__possibility-image img {
    width: unset;
    height: unset;
  }

  .gpt3__possibility-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .gpt3__possibility {
    padding: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .gpt3__possibility-image img {
    width: 100%;
    height: 100%;
  }

  .performanceCardWrapper {
    grid-template-columns: 1fr;
  }  
}

@media screen and (max-width: 550px) {
  .gpt3__possibility {
    padding: 4rem 2rem;
  }
}
