ul.slick-dots.slick-dots-top{
  margin-bottom: 1rem !important;
  z-index: 0 !important;
}

.ant-carousel.slick-slider.slick-initialized>.slick-dots>li {
  border-radius: 10px !important;
}

.ant-carousel .slick-dots li{
  background: transparent !important;
}

.ant-carousel>.slick-slider.slick-initialized>.slick-dots {
  justify-content: center !important;
  z-index: 1 !important;
}
.ant-carousel>.slick-slider.slick-initialized>.slick-list>.slick-track > * {
  z-index: 1 !important;
  width: 90% !important;
}
.ant-carousel .slick-list{
  max-width: 90% !important;
}

.ant-carousel .slick-slider{
  display: flex !important;
  justify-content: space-around !important;
}

@media screen and (max-width: 700px) {
  .ant-carousel .slick-list{
    max-width: 80% !important;
  }
}
