ul.slick-dots.slick-dots-top{
  margin-bottom: 1rem;
}

.ant-carousel.css-dev-only-do-not-override-fepupw>.slick-slider.slick-initialized>.slick-dots>li {
  border-radius: 10px !important;
}

/* #home > div.gpt3__header-content > div.carouselSizing > div > div > div > ul > li{
  border-radius: 10px !important;
} */