ul.slick-dots.slick-dots-top{
  margin-bottom: 1rem;
  z-index: 0;
}

.ant-carousel.slick-slider.slick-initialized>.slick-dots>li {
  border-radius: 10px !important;
}

.ant-carousel .slick-dots li{
  background: transparent;
}

.ant-carousel>.slick-slider.slick-initialized>.slick-dots {
  justify-content: center;
  z-index: 1;
}
.ant-carousel>.slick-slider.slick-initialized>.slick-list>.slick-track > * {
  z-index: 1 !important;
  width: 90%;
}
.ant-carousel .slick-list{
  max-width: 90%;
}

.ant-carousel .slick-slider{
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .ant-carousel .slick-list{
    max-width: 80%;
  }
}
