.gpt3__header {
  display: flex;
  flex-direction: row;
  padding-top: 6.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 0.5rem;
  max-width: 100vw;
}

.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.gpt3__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.gpt3__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__header-image img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}

.header_action-buttons {
  width: 100%;
  /* min-height: 50px; */
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  gap: 30px;
}

.header_action-buttons_button {
  background: rgb(0, 26, 66);
  font-size: 1em;
  font-weight: 500;
}

.header_btnContact {
  color: #040c18;
  background: white;
  padding: 0.5em 1.2em;
  /* border: 1px solid transparent; */
  border-radius: 13px;
  display: inline-block;
  font-size: 18px;
  transition: all 0.3s ease;
}
.header_btnContact:hover {
  border: linear-gradient(60deg, white, white) padding-box,
    linear-gradient(60deg, var(--darkBlue), var(--purple)) border-box !important;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 6px 30px 0px #174cb2;
  -moz-box-shadow: 0px 6px 30px 0px #174cb2;
  box-shadow: 0px 6px 30px 0px #174cb2;
  transform: translateY(-4px);
}

.header_btnBusiness {
  background: transparent;
  color: #e9e9e9;
  padding: 0.5em 1.2em;
  display: inline-block;
  font-size: 18px;
  border-radius: 13px;
  transition: all 0.3s ease;
  border: 2px solid white;
}

.header_btnBusiness:hover {
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 6px 30px 0px #174cb2;
  -moz-box-shadow: 0px 6px 30px 0px #174cb2;
  box-shadow: 0px 6px 30px 0px #174cb2;
  transform: translateY(-4px);
  border: 2px solid transparent;
}

.carouselSizing {
  max-width: 40vw;
}

:where(.css-dev-only-do-not-override-1ls26ha).ant-carousel .slick-prev, :where(.css-dev-only-do-not-override-1ls26ha).ant-carousel .slick-next{
  width: 30px !important;
  height: 30px !important;
  z-index: 0;
}

@media screen and (max-width: 1050px) {
  .carouselSizing {
    max-width: 100%;
  }

  .gpt3__header {
    flex-direction: column;
  }

  .gpt3__header-content {
    margin: 1rem 0 2rem;
  }

  .gpt3__header-image {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__header {
    padding-top: 7.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    justify-content: center;
  }

  .carouselSizing {
    max-width: 85vw;
  }

  .gpt3__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .gpt3__header-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .gpt3__header-content__people {
    flex-direction: column;
  }

  .gpt3__header-content__people p {
    margin: 0;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .gpt3__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .gpt3__header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }

  .header_action-buttons {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .header_btnContact {
    margin: 0;
  }
}
